$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;


body {
  background-color: #000;
  font-family: 'Pridi', serif;
}

.auth-form {
  text-align: center;
  color: #dc3545;
  padding: 20px;
  margin: 10px;
  border: 1px double #dc3545;
}

.btn {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  height: 50px;
  border: 2px solid #000;
}

.btn:hover {
  background-color: #000;
  color: #dc3545;
  border: 2px solid #dc3545;
  cursor: pointer;
}

.inputShow {
  color: #dc3545;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 350px;
}

.authShow {
  color: #dc3545;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 350px;
  margin: 0 auto;
}

.playerAdd {
  display: flex;
  margin: 20px 0px 10px 10px;
  padding: 20px;
}


.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;


  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: center;
    max-width: 100px;
  }
}